:root {
    --bg: #FFF7E6;
    --panel: #BDE0FE;
    --primary: #FFD166;
    --accent: #FB8500;
    --success: #95D5B2;
    --text: #2B2D42;
    --muted: #6C757D;
    --error: #E76F51;
    --white: #FFFFFF;
    --border: #E9D8B4;
}

/* GoogleFonts */
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
